.contact-form-section {
  background-color: white;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 2rem;
}

.contact-info {
  margin-bottom: 40px;
  border: none;
  padding: 0 40px;
}

.info-box {
  background-color: var(--dark-orange);
  color: white;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
}

.info-box .icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.info-box a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.form-container {
  padding: 30px;
}

.designstar {
  display: flex;
  justify-content: start;
}

.designstar img {
  width: 30% !important;
  margin-bottom: 1rem;
}

.form-container h3 {
  font-family: Playfair Display;
  font-weight: 600;
}

.contact-text {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
}

form .form-control {
  border-radius: 5px;
}

.submit-btn {
  background-color: var(--dark-orange);
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
}

/* Responsive Styles */
@media (max-width: 992px) { /* Tablet */
  .form-container {
      padding: 25px;
  }

  .designstar img {
      width: 40% !important;
  }
}

@media (max-width: 768px) { /* Small Tablets and large phones */
  .info-box {
      margin-bottom: 20px;
  }

  .form-container {
      padding: 20px;
  }

  .designstar {
      justify-content: center;
  }

  .designstar img {
      width: 50% !important;
  }
}

@media (max-width: 576px) { /* Phones */
  .form-container {
      padding: 15px;
  }

  .info-box {
      padding: 15px;
      margin: 5px;
  }

  .designstar img {
      width: 70% !important;
  }

  .contact-text {
      font-size: 13px;
  }

  .submit-btn {
      padding: 8px 25px;
  }
}
