.top-info {
  display: flex;
  flex-direction: row;
  background: white;
  color: var(--text-color);
  justify-content: space-between;
  padding: 0.50rem;
}

.talk {
  padding-left: 2rem;
}


.talk a,
.mail a
 {
  text-decoration: none;
  color: var(--text-color);
  
}

.social a {
  text-decoration: none;
  color: var(--dark-orange);
  margin-left: 0.40rem;
}

.talk a:hover,
.mail a:hover
 {
  color: var(--dark-orange);
  font-weight: 700;
}

.mailIconInfo {
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  gap: 20px;
  
}

.vertical-separator {
  width: 4px;
  height: 30px;
  background-color: var(--text-color);
 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 !important;
  border-top: 2px solid #f5deb3;
  border-bottom: 3px solid #f5deb3;
 
}

.navbar-logo {
  height: 100px;
  margin-left: 2rem;
}

.nav-links {
  display: flex;
  justify-content: center; /* Centering nav links */
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  flex-grow: 1;
  gap: 3rem;
  transition: height 0.3s ease-in;
}

.nav-item-link {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-item-link:hover {
  color: var(--dark-orange);
}

.dropdown-menu {
  background: white;
}


.dropdown-menu .dropdown-item a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 18px;
}

.dropdown-menu .dropdown-item a:hover {
  color: var(--dark-orange) !important;
}

.chat-now-button {
  background-color: var(--dark-orange);
  padding: 0.40rem 1.5rem;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  margin-left: 2rem;
}


.chat-now-button a {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}

.chat-now-button:hover {
  background-color: #e05f13;
}

/* Media Queries for Responsiveness */
@media (max-width: 992px) {
  .top-info {
    display: none;
  }
  .navbar-logo {
    height: 80px;
    padding: 0;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;
  }
  .navbar-toggler {
    display: block;
    cursor: pointer;
  }

  .menu {
    font-size: 2.5rem;
  }

  .nav-links.active {
    display: flex;
    background: var(--color-orange) !important;
    padding: 1rem 0;
    align-items: center !important;
  }
}

@media (max-width: 576px) {
  
  .navbar {
    padding: 0 !important;
    
  }

  .chat-now-button {
    padding: 0.50rem;
    text-align: center;
    justify-content: center;
  }
}
