.serviceContainer {
  background: white;
}

.hinditext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closehand {
  margin: auto;
  text-align: center;
}

.closehand img {
  max-width: 30%;
  height: auto;
}

.any {
  margin-bottom: 8rem;
  border-right: 1px solid lightgrey;
}

.imagetitle {
  width: 50%;
  margin: auto;
}

.closehand p {
  font-weight: bold;
  letter-spacing: 2px;
  color: #000;
  font-size: 1.5rem;
}

.topbanner {
  background: linear-gradient(90.77deg, #ffffff 0.66%, #ff9933 101.24%);
  display: flex;
  padding: 2rem 3rem;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.15),
    0 9px 15px rgba(0, 0, 0, 0.1);
}


.topbannerText1 {
  max-width: 70%;
  margin: auto;
}

.topbannerText1 p {
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.arrowrender a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.servicdownimg img {
  width: 80%;
  height: 100%;
  filter: drop-shadow(10px 15px 10px hsla(60, 11%, 4%, 0.53));
  border-radius: 50%;
  padding: 3rem;
}

.servicdowntitle {
  margin-top: 6rem;
}

.servicdowntitle h1 {
  font-family: Playfair Display;
  font-weight: 500;
  color: #000;
}

.servicdowntitle p {
  color: var(--text-color);
  letter-spacing: 1px;
  width: 80%;
  font-weight: 500;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.problembtn .Questionbtn {
  background-color: var(--dark-orange);
  color: black;
  font-weight: 600;
  font-family: Playfair Display;
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 0.75rem;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .bannerimg img {
    width: 40px;
    height: 40px;
  }

  .topbannerText1 p {
    font-size: 12px;
    margin-bottom: 0;
  }

  .topbanner {
    padding: 1rem;
  }

  .servicdownimg {
    text-align: center;
  }

  .servicdownimg img {
    width: 60%;
    padding: 1.5rem;
  }

  .servicdowntitle {
    margin-top: 4rem;
  }

  .servicdowntitle p {
    width: 90%;
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }

  .imagetitle {
    width: 70%;
  }

  .any {
    margin-bottom: 1.5rem;
  }
   
  .problembtn {
    text-align: center;
  }

  .problembtn .Questionbtn {
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 576px) {
  .servicdownimg {
    text-align: center;
  }

  .servicdownimg img {
    width: 50%;
    padding: 1rem;
  }

  .servicdowntitle {
    margin-top: 2rem;
  }

  .servicdowntitle h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .servicdowntitle p {
    width: 100%;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .imagetitle {
    width: 90%;
  }

  .problembtn {
    text-align: center;
  }

  .problembtn .Questionbtn {
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.5rem;
  }
}
